.container {
    width: 33%;
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 8px;
}

.title {
    margin: 0;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.pros-and-cons {
    display: flex;
    margin-top: 10px;
    text-align: left;
}

.pros,
.cons {
    width: 50%;
    padding: 10px;

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
    }
}

.pros {
    border-right: 1px solid grey;
}

.round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    border: 1px solid grey;
    margin-bottom: 20px;
}

.green {
    background: green;
}

.red {
    background: red;
    height: 50px;
    width: 50px;
}
